body {
  width: 297mm;
  height: 210mm;
  min-width: 297mm;
  max-width: 297mm;
  min-height: 210mm;
  max-height: 210mm;
  size: A4 landscape;
  display: flex;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  box-sizing: border-box;
}

@media print {
  body {
    overflow: visible; /* Ensure content is not hidden */
  }
}

@media screen {
  body {
    padding-bottom: 8mm;
  }
}

.cheatSheet {
  width: 100%;
  height: 100%;
  column-count: 3;
  column-gap: 20px;
  column-fill: auto;
  overflow: hidden;
}

.cheatBox {
  display: inline-block;
  width: 100%;
  break-inside: avoid-column;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.pageBreak {
  break-after: always;
}
