@page {
  margin-bottom: 0mm;
  margin-top: 5mm;
  margin-left: 5mm;
  margin-right: 5mm;
}

@media print {
  body {
    size: A4 landscape;
  }

  .printTopRight {
    display: block;
    position: fixed;
    top: -15px;
    right: -15px;
    font-size: 10px;
  }
}

@media screen {
  .page {
    border-bottom: 4px solid black;
  }

  .printTopRight {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 10px;
  }
}

@media screen, print {
  body {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: start;
    box-sizing: border-box;
  }

  .cheatBox {
    font-size: 6px;
    border: 1px solid black;
    padding: 10px;

    > * {
      width: 100% !important;
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
    }

    .title {
      width: fit-content !important;
      margin-top: -4px;
      margin-left: -4px;
      margin-bottom: 4px;
      font-weight: medium;
      font-size: 10px;
      background-color: black;
      color: white;
      padding: 2px 4px;
    }
  }

  .page {
    display: flex;
    flex-direction: row;
  }

  .pageBreak {
    break-after: always;
  }
}
